section{
	&#content-secondary{
		float: left;
		height: 400px;
		width: 100%;
		background-color: #2C2C2C;
		margin-top: 50px;
		padding-top: 50px;

		h5{
			font-size: 20px;
			font-weight: bold;
			color: #FF4500;
		}

		h6{
			font-size: 15px;
			font-weight: 100;
			color: #FFF;
		}
	}
}