section{
	&#content-secondary{
		float: left;
		height: 400px;
		width: 100%;
		background-color: #2C2C2C;
		margin-top: 50px;
		padding-top: 50px;

		h5{
			float: left;
			width: 100%;
			font-size: 20px;
			font-weight: bold;
			color: #FF4500;
			margin-bottom: 25px;

			@media (max-width: 480px) {
				float: initial;
				width: 70%;
				margin-left: auto;
    			margin-right: auto;
    			font-size: 34px;
    			text-align: center;
			}
		}

		h6{
			float: left;
			width: 420px;
			font-size: 15px;
			font-weight: 100;
			color: #FFF;

			@media (max-width: 480px) {
				float: initial;
				width: 400px;
    			margin-left: auto;
    			margin-right: auto;
    			text-align: center;
    			padding: 0px 25px;
    			font-size: 22px;
    			line-height: 34px;
			}
		}

		ul{
			float: left;
			list-style: none;
			padding: 0;
		}
	}
}