footer{
	float: left;
	width: 100%;
	margin-top: 50px;

	#first-list{
		float: left;
		display: inline-block;
		width: 150px;

		img{
			float: left;
			width: 12px;
			height: 13px;
		}

		h6{
			position: relative;
			font-size: 12px;
			font-weight: bold;

			&:after{
				content: "";
				width: 80%;
				line-height: 40px;
				height: 1px;
				background: #DCDCDC;
				position: absolute;
				left: 0;
				color: #FFF;
				top: 28px;
				text-align: center;
			}
		}

		ul{
			list-style: none;
			margin-top: 30px;
			padding: 0;
			li{
				font-size: 14px;
				font-weight: bold;
				color: #FF4500;
			}
		}
	}

	#second-list{
		float: left;
		display: inline-block;
		width: 300px;

		img{
			float: left;
			width: 12px;
			height: 13px;
		}

		h6{
			position: relative;
			font-size: 12px;
			font-weight: bold;

			&:after{
				content: "";
				width: 80%;
				line-height: 40px;
				height: 1px;
				background: #DCDCDC;
				position: absolute;
				left: 0;
				color: #FFF;
				top: 28px;
				text-align: center;
			}
		}

		ul{
			list-style: none;
			margin-top: 22px;
			padding: 0;

			&#first-ul{
				float: left;
				margin-right: 50px;
			}

			&#second-ul{
				float: left;
			}

			li{
				font-size: 11px;
				font-weight: 100;
				padding-bottom: 15px;
			}
		}
	}

	#social-media{
		float: left;
		width: 100%;

		
		#facebook{
   			position: relative;
   			float: left;
   			padding-right: 35px;

			&:after{
				content: "";
			    width: 1px;
			    line-height: 40px;
			    height: 90%;
			    background: #999999;
			    position: absolute;
			    right: 0px;
			    color: #FFF;
			    top: 3px;
			    text-align: center;
			}
		}

		#instagram{
			position: relative;
			float: left;
   			padding: 0px 35px 0px 35px;

   			&:after{
				content: "";
			    width: 1px;
			    line-height: 40px;
			    height: 90%;
			    background: #999999;
			    position: absolute;
			    right: 1px;
			    color: #FFF;
			    top: 3px;
			    text-align: center;
			}
		}

		#linkedin{
			float: left;
			padding-left: 35px;
		}
	}
}