section{
	&#footer-bottom{
		float: left;
		width: 100%;
		height: 55px;
		background-color: #EEEEEE;
		border: none;
		border-top: 1px solid #DCDCDC;
		border-bottom: 1px solid #DCDCDC;
		margin-top: 45px;
		padding-top: 20px;
		padding-bottom: 20px;

		@media (max-width: 480px) {
			height: 180px;
		}

		#copyright{
			float: left;
			padding: 0;
		}

		p{
			float: left;
			font-size: 10px;
			font-weight: 100;

			@media (max-width: 480px) {
				width: 100%;
				text-align: center;
				font-size: 16px;
				color: #808080;
				margin-bottom: 5px;
				font-weight: 400;
			}
		}

		a{
			float: left;
			font-size: 10px;
			font-weight: 100;
			text-decoration: underline;
			padding-left: 30px;
			color: inherit;

			@media (max-width: 480px) {
				width: 100%;
				text-align: center;
				font-size: 16px;
				color: #808080;
				padding-left: 0;
				margin-bottom: 35px;
				font-weight: 400;
			}
		}
	}
}