body{
	float: left;
}
#top{
	position: relative;
	header{
		#header{
			position: absolute;
	   		width: 100%;
   			top: 35px;
   			left: 15px;

			#logo{
				@media (min-width: 1200px) {
					padding-left: 270px;
				}

				@media (max-width: 480px) {
					padding: 0 25px;
				}

				img{
					padding-bottom: 8px;

					@media (max-width: 480px) {
						width: 30px;
						padding-bottom: 20px;
					}
				}

				h1{
					display: inline-block;
					font-size: 22px;
					font-weight: bold;
					color: #FFF;

					@media (max-width: 480px) {
						font-size: 38px;
						margin-left: 10px;
					}
				}
			}
			ul{
				list-style: none;
				margin-left: 30px;

				@media (max-width: 1199px) {
					display: none;
				}

				li{
					display: inline-block;
					padding: 0px 15px 4px;
					border: 1px solid transparent;
					border-radius: 3px;

					&:hover{
						border: 1px solid #FF4500;
					}

					a{
						color: #FFF;
						font-size: 11px;
						font-weight: bold;

						&:hover{
							text-decoration: none;
							color: #FFF;
						}
					}
				}
			}
		}
		
	}
}

#img-main{
    width: 100%;

    @media (max-width: 480px) {
    	height: 380px;
    }
}